.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
}
.postImage {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.postText {
    font-weight: normal;
    padding: 20px;
}

.postHeader {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.postAvatar {
    margin-right: 10px;
}