
body{
  background-color: #fafafa;
  margin:0 auto;
  display: flex;
  justify-content: center;
}

/* THIS IS THE CONTAINER FOR THE PHONES IMAGE AND FORM BOX */

.box1 {
  /* border: 3px dotted orange; */
  display: inline-flex;
  align-items: stretch;
  flex-direction: row;
  width: 1244px;
  height: 680px;
  margin: 84px auto 0;
  max-width: 935px;
  padding-bottom: 37px;
  padding-left: 96px;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.phones {
  display: flex;
  flex-basis: 454px;
  /* border: 2px solid black; */
  background-image: url("https://i.ibb.co/NVqbhzv/igStatic.png");
  background-repeat: no-repeat;
  width: 20%;
  height: 100%;
  margin:0;
  padding:100px 60px 5px 150px;
  flex-basis: 23.5%;
 
}


.slides{
width: 240px;
height:427px;

}



.formBox {
  width: 21.875rem;
  height: 23.75rem;
  margin:  0 10px;
  margin-top: 2rem;
  margin-bottom: 15px;
  background: #ffffff;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  display: flex; 
  justify-content: center;
  flex-direction: column;
 
  
}

.contain{
  max-height: 100%;
  max-width:100%;
}

.logo{
 padding:3.6rem 5.5rem 1.5rem 0;
 margin:0 5.3rem;
 width:170px;
 
}



.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: .5rem 2rem;
}

.login2 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

input {
  width: 258px;
  height: 2.1rem;
  margin: 0rem;
  padding: 0 7px 0;
  border-radius: 3px;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  background:#fafafa;
  font-size:12px;
  font-weight:lighter;
}

.loginBtn {
  width: 274px;
  height: 30px;
  margin: .5rem 4.3rem;
  border-radius: 5px;
  background: #0095f6;
  color: white;
  border: none;
  margin-left: 2rem;
  text-align: center;
  line-height: 1em;
  align-items: center;
  font-weight:750;
}

.lineBox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.line1 {
  height: 25px;
  width: 100px;
  margin: 0px;
  border-bottom: .3px solid rgba(190, 177, 177, 0.795);
  margin-right:2rem;
  margin-right: 1rem;
  

  /* height: 12px;
  border: 2px;
  box-shadow: inset 0 12px 5px -12px rgba(144, 139, 139, 0.5); */
}

.line2 {
  height: 25px;
  width: 100px;
  margin: 0;
  border-bottom: .3px solid rgba(190, 177, 177, 0.795);
  margin-left:1rem;
}

.or{
  padding:2px ;
  margin:.9rem 0 0 0;
  color: rgba(128, 128, 128, 0.795);
  font-size:.9rem;
  background-color: #ffffff;
  font-weight:bold;

}

p{
  text-align: center;
}

.facebook {
  color: #385185;
  font-weight:600;
}


.facebook, svg{
  height:16px;
  
}
.fb {
  margin:0 8px 0  0;
}

.pass{
  color:#00376B;
  padding-top: 10px;
  font-size: 12px;
}

/* THIS IS THE CONTAINER FOR THE SIGN-UP */
.signUps{
  display:flex;
  flex-direction: column;
  justify-content:center;
  /* border:solid 4px red; */
  font-size: 14px;
  margin-top:10rem;
  padding:.6rem 0 4px 4px;
}

.signUp {
  
  width: 21.875rem;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  margin-bottom: 10px;
  margin-top:30px;
  padding: 0 ;
}

.signUp, p{
  padding: .3rem 0;
  font-size: 14px;
}
.sup {
  color: #0095f6;
  text-decoration: none;
  font-weight: 600; 
  margin: 15px;
}

/* THIS IS THE CONTAINER FOR THE BUTTONS */

.buttons {

  max-height:2.5rem;
  display:flex;
  justify-content: center;
  padding:0;
}

.storeBox{
  padding:0 1rem 2rem 2rem;
  display:flex;
  justify-content: center;
  
}

 img, .appBtn{
  width: 9.5rem;
  height: 3.6rem;
  margin:0;
  
 }

img, .googleBtn{
  width: 9.5rem;
  height: 3.3rem;
  margin: 2px;

}



/* THIS IS THE CONTAINER FOR THE FOOTER LINKS */
.extLinks {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #8E8E8E;
  font-size: 12px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin-top:5px;
}

nav {
  margin: 2.5px;
  padding:0 5px;
}

.topNav {
  display: flex;
  align-items: flex-end;
 /* align-content: space-around; */
 justify-content: center; 
 width:100%;
}

.bottomNav {
  display: flex;
  align-items: flex-start;
  /* align-content: space-around; */
  justify-content: center;
  align-content: flex-start;
 
}

.copyBox{
display: flex;
flex-direction: row;
justify-content: center;
line-height: 0;
margin-top: 10px;
}

.copyright, p {
 padding: 0;
  flex-basis:5%;
  font-size: 12px;
  

}

.copy{
  word-spacing: 1px;
}

a{
  text-decoration: none;
  cursor:pointer;
}

button{
  cursor:pointer;

}

@media (max-width:800px) {

  .app{
    overflow-x:hidden;

  }
  .phones{
   opacity:0; 
   width:0px;
   height:0px;
  }
 
  footer{
    display:none;
  }
  
  
  .extLinks {
    display:none;
   
  }

  nav {
    margin: 2.5px;
    padding:0 5px;
  }
  
  .topNav {
    display: flex;
  
 
   justify-content: center; 
  }
  
  .bottomNav {
    display: flex;
 
    /* align-content: space-around; */
    justify-content: center;
    
   
  }
  
  .login {
    display: flex;
    
    

  }

  .main-nav{
    width:100%;
  }
}